


.ant-pagination{
    display: none !important;
}
.ant-table {
    background-color: rgba(203, 191, 191, 0.458)!important;
    
}

.dayGhe{
    width: 60% !important;
}
.thongTinGhe{
    width:38% !important;
}
.ghe{
    border: 2px solid black;
    width: 40px;
    height: 35px;
    font-size: 12px;
    margin-left: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
    background-color: rgb(218, 218, 218);
    transition: 0.5s;
 
}
.ghe:hover{
    background-color: white;
}



.firstChar{
    color: yellow;
    font-size: 35px;
    margin-right: 15px;

}


.gheVip {
  border: 3px solid orange    ;

    background:orange;
    color: #000;
    transition: 0.5s;
  
    border-radius: 5px;
    width: 40px;
    height: 35px;
}
.gheVip:hover{
    border: 3px solid rgb(236, 173, 56)  ;

    background:rgb(236, 173, 56);
}

.gheDuocChon {
    border: 3px solid rgb(87, 85, 81)   ;
  
    background:rgb(87, 85, 81);
    color: #000;

    cursor: no-drop !important;
    border-radius: 5px;
    width: 40px;
    height: 35px;

}
.gheDuocChon:hover{
    border: 3px solid rgb(87, 85, 81)   ;
  
    background:rgb(87, 85, 81);
}
.gheDangChon {
    background-color: rgb(109,238,109);
    border: 3px solid rgb(109,238,109);
    color:#000;
    cursor: pointer;
    border-radius: 5px;
    width: 40px;
    height:35px;
    transition: 0.4s;
}
.gheDangChon:hover{
    background-color: rgb(109,238,109);
    border: 3px solid rgb(109,238,109);
}

