@tailwind base;
@tailwind components;
@tailwind utilities;

.infor-chair .table .ant-table-cell{
background: none;

}
.container{
    width: 95%;
    margin:0 auto;;
}
.nav-link{
    margin: 0 15px;
    font-weight: 500;
}
.nav-link:hover{
    color: #DC2626;
   transition:  0.4s ;
}
.header{
    opacity: 0.9;
}

.button-login:hover{
color: white !important;
border:none;
}
.button-login{
  
    margin-top: 20px;
   text-align: center;
    
}
.button-signup:hover{
    color: white !important;
    border:none;
}
.footer p{
    font-size: 15px;
}
.footer p:hover{
    color: white;
    transition: 0.7s;
}
.footer i{
    margin-left: 10px;
    color: #9E9E9E;
}
.footer i:hover{
    color: white;
    transition: 0.7s;
}


/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; ;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
 
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}
    /* header_tablet */
.header-tablet{
    position: fixed;
   
  
}
.header-tablet  i.fa-bars{
font-size: 25px;
cursor: pointer;
transition: 0.7s;
color: #DC2626;
}
.header-tablet  i.fa-bars:hover{
 padding: 5px 5px;
 color: white;
 background-color: #DC2626;
 
    }
.header-tablet .nav{
position: absolute;    
background-color: white;
width: 320px;
height: 300px;
top: 70px;
right: 0;
transform: translateX(100%);
transition: 0.7s;
}
.header-tablet .nav-overlay{
    content: "";
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0,0.5);
 display: none;
   transition: 0.8s;
   animation: fade-in linear 0.5s;
}
.header-tablet .nav .nav-link{
    display: block;
    transition: 0.7;
    padding: 10px 15px;
    margin: 0;
    text-align: center;

}
.header-tablet .nav .nav-link:hover{
    padding: 20px 50px;
    background-color: #DC2626;
    color: white;
}
.header-tablet .nav_input{
    display: none;
}
.nav_input:checked ~ .nav-overlay{
 display: block;
  
}
.nav_input:checked ~ .nav{
    transform: translateX(0%);
    z-index: 100;
}

@keyframes fade-in{
    from{
     opacity: 0;
    }to{
opacity: 1;
    }
}

/* header-mobile */
.header-mobile{
    position: fixed;
  
}
.header-mobile  i.fa-bars{
font-size: 20px;
cursor: pointer;
transition: 0.7s;
color: #DC2626;
}
.header-mobile  i.fa-bars:hover{
 padding: 5px 5px;
 color: white;
 background-color: #DC2626;
 
    }
.header-mobile .nav{
position:fixed;    
background-color: white;
width: 100%;
height: 300px;
top: 47px   ;
right: 0;
transform: translateX(100%);
transition: 0.7s;
}
.header-mobile  .nav-overlay{
    content: "";
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0,0.5);
 display: none;
   transition: 0.8s;
   animation: fade-in linear 0.5s;
}
.header-mobile .nav .nav-link{
    display: block;
    transition: 0.7;
    padding: 10px 15px;
    margin: 0;
    text-align: center;

}
.header-mobile .nav .nav-link:hover{
    padding: 20px 50px;
    background-color: #DC2626;
    color: white;
}
.header-mobile .nav_input{
    display: none;
}
.nav_input:checked ~ .nav-overlay{
 display: block;
  
}
.nav_input:checked ~ .nav{
    transform: translateX(0%);
    z-index: 100;
}

@keyframes fade-in{
    from{
     opacity: 0;
    }to{
opacity: 1;
    }
}


    /* RESPONSIVE */
    /* mobile */
    @media (max-width:46.1875em){
        /* bookingPage */
        .bookingMovie{
        width: 100% !important;
       
        background: none !important;
        }
        .bookingMovie .boxDatGhe{
            display: block;
            padding-left: 0 !important;
            
        }
        .bookingMovie .goiYCho{
            margin-left: 0 !important;
        }
        .bookingMovie .container-fluid{
            margin-top: 60px !important;
            padding: 0 !important;
         }
         .bookingMovie .dayGhe{
            width: 100% !important;
            padding-left: 10px;
         }
         .bookingMovie .overlay{
            background: none !important;
         }
         .bookingMovie .goiYCho h2{
            color: black;
         }
         .bookingMovie .thongTinGhe{
            width: 100% !important;
            margin-left: 0 !important;
         }
        /*DetailPage  */
        .detailpage .item-detail{
            display: grid;
        }
        .detailpage .item-img{

            width: 100% !important;
        }
        .detailpage .item-img  .img{

            width: 100% !important;
            height: 60% !important;
            object-fit: cover;
            object-position: top;
        }
        .detailpage .item-content{
            margin-top: -45% !important ;
            width: 95%;
            margin-left: 0px !important;
        }
        .detailpage .tab{
            width: 335px !important;
        }




/* MovieList */
.movie-list .item-list{
    display: grid;
    grid-template-columns:50% 50%;
    padding:5px 10px;
    gap: 15px 10px;
   
 }
 .movie-list .card{
  padding:8px 3px;
  background-color: #E5E7EB;
 }
 .movie-list h2{
  font-size: 15px;
  padding-top: 30px !important;
padding-bottom: 0px !important;
padding-left: 14    px !important;
 }
 .movie-list .img{
    height: 250px !important;
 }
 .movie-list .navlink{
    font-size: 12px !important;
 }
 /* Appliction */
 .application{
    background-image: url("./assest/img/BG_NETFLIX.png");
    position: relative;
    background-size:593%;
    background-repeat: no-repeat;
    height: 70%;
    width: 100%;
    background-position:center;
    display:grid;
    grid-template-columns: 100%;
    
    
    }
    .application::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 8;
    background-color: rgba(0, 0, 0,0.5);
    
    }
    .application .content{
       
        width: 100%;
      padding-left: 10%;
      padding-top: 100px;
    }
    .application .img{
      
       padding-left: 6%;
        width: 90%;
       
    }
    .application .object-contain{
       padding-right: 0px !important;
       padding-top: 0px !important;
         
      }
/* TabMovie */

.tab-movie .item-tab{
    display: none;
  
}
.tab-movie .content{
    padding-left: 90px;
}

.tab-movie .tab {
margin-right: 300px;
margin-left:   52px;

} 
.tab-movie {
    width: 100%;
  display: none;
   
}
.tab-movie .logo{
    width: 40px;
    height: 40px !important;
}
.tab-movie .children-tab-movie{
    height: 400px !important;
}

/* carousel */
.carousel .img{
height: 350px !important;
    }
    /* footer */
    .footer .footer-content{
  display: grid;
  grid-template-columns: 50% 50% !important;
    }
    .footer .footer-content p{
font-size: 15px;
    }
    .footer .footer-logo{
        display: grid;
        grid-template-columns: 50% 50% !important;

    }

    .footer .logo-theater{
        display: grid;
        grid-template-columns: 50% 50% !important;
    }
    .footer .title{
        display: none;
    }






    /* LoginPage */
    .login-page{
        padding:0 50px ;
    }
    .login-page .container{
padding:0 150px;
padding: 30px;

    }
    .login-page .lottie{
   width: 100%;
   margin-left: 30%;
 display: none;

 
    }
    .login-page .lottie .item{
        height:250px ;
        width:200px  ;
    }
    .login-page .content {    
         width: 100%;
    }
    .login-page .content .logo{
    margin-left: 30%;
   
    }.login-page .title{
        font-size: 12px !important;
    }
   
    .login-page .content .form{
      
       width: 100%;
    }
/* SignUpPage */
 .signup-page{
  
    padding:0px 20px;
 }
.signup-page .container{
     padding:20px  30px;
    padding-bottom: 25px;
   
  
    
        }
        .signup-page .lottie{
       width: 30%;
       margin-left: 30%;
      display: none;
        }
        .signup-page .lottie .item{
            height:150px ;
            width:250px  ;
           
        }
        .signup-page .content {    
             width: 100%;
        }
        .signup-page .content .logo{
        margin-left: 30%;
      
        }
        .signup-page .content .form{
          
           width: 100%;
        }
     

}
/* tablet */
@media (min-width:46.25em)  and (max-width:63.9375em){
     /* bookingPage */
     .bookingMovie{
        width: 100% !important;
       
        background: none !important;
        }
        .bookingMovie .boxDatGhe{
            display: block;
            padding-left: 0 !important;
            
        }
        .bookingMovie .goiYCho{
            margin-left: 0 !important;
        }
        .bookingMovie .container-fluid{
            margin-top: 60px !important;
            padding: 0 !important;
         }
         .bookingMovie .dayGhe{
            width: 100% !important;
            padding-left: 10px;
            margin-top: 100px;
         }
         .bookingMovie .overlay{
            background: none !important;
         }
         .bookingMovie .goiYCho h2{
            color: black;
         }
         .bookingMovie .thongTinGhe{
            width: 100% !important;
            margin-left: 0 !important;
         }
     /*DetailPage  */
     .detailpage .item-detail{
        display: grid;
        grid-template-columns: 50% 50%;
        padding-bottom: 0 !important;
    }
    .detailpage .item-img{

        width: 90% !important;
       
    }
    .detailpage .item-img  .img{

        width: 95% !important;
        height: 65% !important;
        object-fit: cover;
        object-position: top;
    }
    .detailpage .item-content{
        margin-top: 0 !important ;
        width: 95%;
        margin-left: 20px !important;
    }
    .detailpage .tab{
        width: 350px !important;
    }
/* MovieList */
.movie-list .item-list{
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333% ;
    padding:10px 80px;
    gap: 15px 30px;
   
 }
 .movie-list .card{
  padding:8px 15px;
  background-color: #E5E7EB;
 }
 .movie-list .img{
    height: 250px !important;
 }
 .movie-list .navlink{
    font-size: 15px !important;
 }
 /* Appliction */
 .application{
    background-image: url("./assest/img/BG_NETFLIX.png");
    position: relative;
    background-size:178%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-position:center;
    display: flex;
 
    }
    .application::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 8;
    background-color: rgba(0, 0, 0,0.5);
    
    }
    .application .content{
        width: 50%;
      padding-left: 100px;
      padding-top: 150px;
    }
    .application .img{
        width: 50%;
        margin-left: 40px;
    }
/* TabMovie */

.tab-movie .item-tab{
    display: none;
  
}
.tab-movie .content{
    padding-left: 80px;
}
.tab-movie .tab {
padding-right:7%;
padding-left: 190px;
} 
/* carousel */
.carousel .img{
    height: 550px !important;
}







      /* LoginPage */
      .login-page{
        padding:0 50px ;
    }
    .login-page .container{
padding:0 150px;
padding: 30px;

    }
            .login-page .lottie{
           width: 100%;
           margin-left: 35%;
         display: none;
         
            }
            .login-page .lottie .item{
                height:250px ;
                width:200px  ;
               
            }
            .login-page .content {    
                 width: 100%;
            }
            .login-page .content .logo{
            margin-left: 40%;
            }
            .login-page .content .form{
              
               width: 100%;
            }
            /* SgnUpPage */
             .signup-page{
    padding: 50px ;
    padding-top:50px ;
 }
.signup-page .container{
     padding:20px  30px;
    padding-bottom: 60px;
   
  
    
        }
        .signup-page .lottie{
       width: 30%;
       margin-left: 30%;
      display: none;
        }
        .signup-page .lottie .item{
            height:150px ;
            width:250px  ;
           
        }
        .signup-page .content {    
             width: 100%;
        }
        .signup-page .content .logo{
        margin-left: 40%;
      
        }
        .signup-page .content .form{
          
           width: 100%;
        }
     
}
/* laptop */
@media (min-width:63.9375em)  and (max-width:96.625em){
/* detailPage */
.detailpage  .img{
height: 400px !important;   

}
/* bookingpage */
.bookingMovie .row{
    display: grid;
    grid-template-columns:60% 40% ;
}




/* MovieList */
 .movie-list .item-list{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding:10px 80px;
    gap: 15px 30px;
   
 }
 .movie-list .card{
  padding:8px 15px;
  background-color: #E5E7EB;
 }
 /* Appliction */
 .application{
    background-image: url("./assest/img/BG_NETFLIX.png");
    position: relative;
    background-size:128%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-position:center;
    display: flex;
    }
    .application::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 8;
    background-color: rgba(0, 0, 0,0.5);
    
    }
    .application .content{
        width: 50%;
      padding-left: 280px;
      padding-top: 150px;
    }
    .application .img{
        width: 50%;
        margin-left: 40px;
    }
    /*DetailPage  */

    .detailpage .datve-btn{
        margin-left: 20px;
    }
    /* Tabmovie */
    .tab-movie .content{
        padding-left: 90px;
    }
    .tab-movie .tab{
        padding-left: 90px;
    }
     




    .signup-page{
        padding:90px 40px !important;
     
    }
    .signup-page .container{
         margin-bottom: 0px;
        padding:0 70px;
        padding-bottom: 20px;
        padding-top:20px ;
        display: flex;
        justify-content: center;
        align-items: center;
       
            }
            .signup-page .lottie{
           width:70%;
            }
            .signup-page .lottie .item{
                height:500px ;
                width:550px  ;
               
            }
            .signup-page .content {    
                width: 35%;
            }
            .signup-page .content .logo{
            margin-left: 40%;
            }
            .signup-page .content .form{
              
               width: 100%;
            };


             /* LoginPage */
     .login-page{
        padding: 10px;
       
     }
     .login-page .container{
        padding:0 100px;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
       
            }
            .login-page .lottie{
           width: 55%;
            }
            .login-page .lottie .item{
                height:500px ;
                width:390px  ;
               
            }
            .login-page .content {    
                width: 35%;
            }
            .login-page .content .logo{
            margin-left: 40%;
            }
            .login-page .content .form{
              
               width: 100%;
            };
            /* SignUppage */

        }
       